/* HTML ELEMENTS */

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    background-image: url("../img/mainbackground.jpg");
    background-repeat: repeat;
}

button, input[type="submit"], input[type="reset"] {
    background: white;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input[type="text"] {
    width: 100%;
}

textarea {
    resize: none;
}

label {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

a:hover {
    text-decoration: underline;
    color: crimson;
}

table {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

/* LISTES DU BACKOFFICE */

.userListDetailsContainer, .propertyListDetailsContainer {
    border: 1px solid #333;
    border-radius: 3px;
}

.userListDetailsContainer>div, .propertyListDetailsContainer>div {
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(0, 0, 0, .25);
    width: 100%;
    align-self: stretch;
    display: grid;
    padding: 5px;
}

.userListDetailsContainer>div>p, .propertyListDetailsContainer>div>p {
    align-self: center;
}

.userListTitle, .propertyListTitle, tfoot {
    background-color: rgba(220, 20, 60, .5);
    backdrop-filter: blur(5px);
    border-radius: 3px;
    color: #fff;
}

.adminCommands>li {
    display: flex;
    max-width: 40%;
    margin: 20px;
}

.adminCommands>li>a {
    width: 100%;
    padding: 20px;
}

/* CUSTOM CLASSES */

.logo {
    height: inherit;
    padding: 0 80px;
}

.logo>img {
    height: 150px;
}

.button {
    background: white;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .25);
    border-radius: 7px;
    line-height: 1.9em;
    padding: 5px;
    margin: 5px;
    transition: box-shadow .5s;
}

.button:hover {
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, .4);
    background: rgba(255, 255, 255, .5);
}

#topBar {
    background: rgba(255, 255, 255, .6);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    position: relative;
    display: flex;
    padding: 0 5em;
}

#main-content {
    text-align: center;
}

.fitContainer {
    background: rgba(0, 0, 0, .05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    width: fit-content;
    margin: auto;
    padding: 25px;
    border-radius: 3px;
    backdrop-filter: blur(5px);
}

.slightTextShadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.big {
    font-size: x-large;
}

.flex {
    display: flex;
}

.inlineFlex {
    display: inline-flex;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.connectionButton {
    min-width: 300px;
    text-align: center;
    align-self: center;
}

.connectionButton>p {
    margin: 10px;
}

.topbarMenuItem>a {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    padding: 0 30px;
    transform: scale(1);
}

.topbarMenuItem:hover>a {
    text-decoration: none;
    color: crimson;
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 50px 0;
}

.menu {
    list-style: none;
    padding: 0;
    height: inherit;
    margin: 0;
}

.menu>li {
    margin: 0 .5em;
}

.menu>li>a {
    text-transform: uppercase;
}

/* MAPBOX */

.mapboxgl-map {
    box-shadow: 0 0 10px rgb(0 0 0 / 35%);
}

.mapboxgl-marker {
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,.5));
    transition: width .2s, height .2s !important;
}

.mapboxgl-marker:hover {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.markerLodging {
    background-image: url('../img/mapbox-lodging.png');
}

.markerAppartment {
    background-image: url('../img/mapbox-apartment.png');
}

.markerhouse {
    background-image: url('../img/mapbox-house.png');
}

.markerMobilehome {
    background-image: url('../img/mapbox-mobilehome.png');
}

.mapboxgl-popup {
    max-width: 400px !important;
}

.mapboxgl-popup-content {
    background: rgba(255,255,255,.9) !important;
}

.mapbox-description-mail {
    color: blue;
}

/* CLASSES CSS GÉNÉRIQUES   */

.center {
    text-align: center;
    margin: auto;
}

.linodot {
    list-style: none;
}

.np {
    padding: 0;
}

.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.mb2 {
    margin-bottom: 50px;
}

.nfw {
    margin: 0 20em;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

.red {
    color: crimson;
}

.green {
    color: lawngreen;
}